{% extends 'base.html.twig' %}

{% block title %}Kunden ändern
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Kunden ändern</h1>

		{{ include('pages/client/_form.html.twig', {'button_label': 'Ändern'}) }}

		<a class="btn btn-secondary btn-lg mt-4" href="{{ path('app_client_index') }}">Zurück</a>


		{{ include('pages/client/_delete_form.html.twig') }}</div>

{% endblock %}
