<footer>
	<div class="footer-copyright text-center py-3">© 2022 Copyright:
		<a href="/">
			Vermessung von Räumen</a>
		<div>
			<strong>Schöpfer Cyril Gourdon</strong>
		</div>

		<p>Kontakt: 06 15 60 33 44</p>
		<div class="mt-2">
			<i class="fa-brands fa-facebook">
				<a href="/"></a>
			</i>
			<i class="fa-brands fa-facebook-messenger">
				<a href="/"></a>
			</i>
			<i class="fa-brands fa-instagram-square">
				<a href="/"></a>
			</i>
			<i class="fa-solid fa-envelope">
				<a href="/"></i>


			</div>

		</div>

		<div class="footer-copyright text-center py-3">

			<a href=" {{ path('rgpd')}} ">

				GDRP</a>
			<a href=" {{ path('cvg')}} ">

				Verkaufszustand</a>

		</div>
	</footer>
