{% extends 'base.html.twig' %}

{% block title %}
	VZ
{% endblock %}

{% block body %}


	<div class="container mt-4">

		<h1>Verkaufszustand</h1>
		<p>A modifier selon les cas</p>
		<p>Gebrauchte Gegenstände werden in oder im Auftrag von Secondhandläden so aufbereitet, dass Materialfehler beseitigt wurden und sie wieder Marktreife erlangen. Auch bei Online-Marktplätzen wie Amazon oder eBay spielt der Verkaufszustand gebrauchter Gegenstände eine große Rolle. Alle Verkäufer – Unternehmer oder Privatpersonen – gebrauchter Gegenstände sind verpflichtet, gebrauchte Gegenstände als solche zu kennzeichnen („keine Neuware“) und die Qualität zu klassifizieren (Erhaltungsgrad von „neuwertig“ bis „erhebliche Gebrauchsspuren“). Gebrauchte Sachen sind entweder bereits bestimmungsgemäß genutzt worden (Abnutzung) oder unterliegen alleine aufgrund ihres Alters einer Alterung; hierzu gehören auch Antiquitäten.[1] Der Verkaufszustand von Gebrauchtwagen kann zwischen „neuwertig“, „unfallfrei“ und „Unfallwagen“ schwanken.</p>


		<a class="btn btn-primary btn-lg" href="{{ path('home.index')}}">Home</a>


	</div>
{% endblock %}
