{% extends 'base.html.twig' %}

{% block title %}GDPR
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<p>Die Allgemeine Datenschutz-Verordnung (General Data Protection Regulation GDPR) ist der neue rechtliche Rahmen der Europäischen Union, der festlegt, wie personenbezogene Daten gesammelt und verarbeitet werden dürfen.</p>

		<a class="btn btn-primary btn-lg" href="{{ path('home.index')}}">Home</a>


	</div>

{% endblock %}
