{% extends 'base.html.twig' %}

{% block title %}Neuer Lieferant
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Neuen Lieferant erstellen</h1>

		{{ include('pages/provider/_form.html.twig') }}

		<a class="btn btn-secondary btn-lg mt-4" href="{{ path('app_providermob_index') }}">Zurück</a>


	</div>

{% endblock %}
