{% extends 'base.html.twig' %}

{% block title %}Vermessung erstellen
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Vermessung erstellen</h1>

		{{ include('pages/measure/_form.html.twig') }}

		<a class="btn btn-secondary btn-lg mt-4" href="{{ path('app_yourmeasuremob_index') }}">Zurück</a>


	</div>

{% endblock %}
